/*.nav-actions {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.nav-actions button {
    width: 164px;
    height: 40px;
    background: #6A9586;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    border: none;
}*/

/*.tabs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.tabs p {
    margin-right: 10px;
}*/

/*.campaign {
    background: #FFFFFF;
    border-radius: 12px;
}*/
.campaigns{
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 60px;
}
.campaigns h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #7E847F;
    margin-top: 50px;
    margin-bottom: 20px;
}
.campaigns p{
    font-size: 18px;
    line-height: 20px;
    color: #7E847F;
    margin-bottom: 40px;
}
.campaigns button img{
    margin-right: 15px;
}