.password-reset{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 82vh;
}
.password-reset h1{
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #000000;
	margin-bottom: 17px;
}
.password-reset p.sub-title{
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #000000;
	margin-bottom: 40px;
}
.password-reset .btn{
	display: block;
    margin: auto;
    width: fit-content;
}